{%extends 'etudiant/base.html.twig'%}

{%block title%} Liste {%endblock%}

{%block contenu%}
<table class="table caption-top">
{{dump(data)}}
        <caption>Liste des personnes inscrites</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">prenom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Module</th>
            <th scope="col">Niveau Scolaire</th>
            <th scope="col">Motif d'Inscription</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{data['nom']}}</td>
            <td>{{data['prenom']}}</td>
            <td>{{data['date_naissance']}}</td>
            <td>{{data['module_souhaite']}}</td>
            <td>{{data['niveau_scolaire']}}</td>
            <td>{{data['motif_inscription']}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Kouame</td>
            <td>Jacob</td>
            <td>17/05/2018</td>
            <td>C#</td>
            <td>Bac+3</td>
            <td>Passionnée des TIC</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Kone</td>
            <td>Moussa</td>
            <td>06/12/2015</td>
            <td>TypeScript</td>
            <td>Bac+5</td>
            <td>Passionnée des TIC</td>
          </tr>
          
        </tbody>
      </table>
{%endblock%}